.main {
    position: relative;
    width: 1440px;
    height: 4145px;
    background: #FFFFFF;
}

.hero-image {
    position: absolute;
    visibility: hidden;
    width: 1440px;
    height: 720px;
    left: 0px;
    top: 0px;
    background: url(image);
}

.hero-image-3 {
    position: absolute;
    width: 1440px;
    height: 1920px;
    left: 0px;
    top: -390px;
    background: url(image);
}

.dimmer {
    position: absolute;
    width: 1440px;
    height: 720px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.15);
}

.navigation {
    position: absolute;
    visibility: hidden;
    height: 164px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 48px;
    position: absolute;
    width: 390px;
    height: 52px;
    right: 80px;
    top: 56px;
}

.nav-page {
    width: 49px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    gap: 8px;
    width: 99px;
    height: 52px;
    background: #000000;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.nav-button-text {
    width: 51px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.site-name {
    position: absolute;
    width: 95px;
    height: 30px;
    left: 80px;
    top: 67px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
